<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property name="paimon.log.level" value="${paimon.log.level:-INFO}"/>
    <property name="paimon.flink.log.level" value="${paimon.flink.log.level:-INFO}"/>
    <property name="paimon.kafka.log.level" value="${paimon.kafka.log.level:-WARN}"/>
    <property name="paimon.hadoop.log.level" value="${paimon.hadoop.log.level:-WARN}"/>
    <property name="paimon.log.dir" value="${paimon.log.dir:-datafusion-plugin/plugin-flink-schema-paimon/target/flink-schema-paimon-logs}"/>
    <property name="paimon.log.file" value="${paimon.log.file:-flink-schema-paimon}"/>
    <property name="paimon.log.max.file.size" value="${paimon.log.max.file.size:-100MB}"/>
    <property name="paimon.log.max.history" value="${paimon.log.max.history:-7}"/>
    <property name="paimon.log.total.size.cap" value="${paimon.log.total.size.cap:-10GB}"/>
    <property name="paimon.log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{48} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${paimon.log.level}</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${paimon.log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${paimon.log.level}</level>
        </filter>
        <file>${paimon.log.dir}/${paimon.log.file}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${paimon.log.dir}/${paimon.log.file}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${paimon.log.max.file.size}</maxFileSize>
            <maxHistory>${paimon.log.max.history}</maxHistory>
            <totalSizeCap>${paimon.log.total.size.cap}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${paimon.log.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink" level="${paimon.flink.log.level}"/>
    <logger name="org.apache.kafka" level="${paimon.kafka.log.level}"/>
    <logger name="org.apache.hadoop" level="${paimon.hadoop.log.level}"/>
    <logger name="org.apache.pekko" level="WARN"/>
    <logger name="software.amazon.awssdk" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>

    <root level="${paimon.log.level}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
