<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datafusion.manager.asset.dao.AssetLineageEdgeMapper">

    <select id="link" resultType="com.datafusion.manager.asset.dto.LineageEdgeDto">
        WITH RECURSIVE
        UpstreamLineage AS (
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        -1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        where
        <if test="!req.isLeafNode">
            ale.target_urn = #{req.nodeUrn}
        </if>
        <if test="req.isLeafNode">
            ale.target_urn like concat(#{req.nodeUrn},':%')
            Or ale.target_urn = #{req.nodeUrn}
        </if>
        UNION ALL
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        ul.depth - 1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        INNER JOIN
        UpstreamLineage ul ON ale.target_urn = ul.source_urn
        where depth &gt; -50
        <if test="req.depth != null">
            and depth &gt; -#{req.depth}
        </if>
        ),
        DownstreamLineage AS (
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        where
        <if test="!req.isLeafNode">
            ale.source_urn = #{req.nodeUrn}
        </if>
        <if test="req.isLeafNode">
            ale.source_urn like concat(#{req.nodeUrn},':%') or
            ale.source_urn = #{req.nodeUrn}
        </if>
        UNION ALL
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        dl.depth + 1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        INNER JOIN
        DownstreamLineage dl ON ale.source_urn = dl.target_urn
        where depth &lt; 50
        <if test="req.depth != null">
            and depth &lt;= #{req.depth}
        </if>
        )
        <if test="req.isUp != null and req.isUp == true">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from UpstreamLineage
            order by depth,sourceUrn asc
        </if>
        <if test="req.isUp != null and req.isUp == false">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from DownstreamLineage
            order by depth,sourceUrn asc
        </if>
        <if test="req.isUp == null">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from UpstreamLineage
            union all
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from DownstreamLineage
            order by depth,sourceUrn asc
        </if>

    </select>


    <select id="linkV2" resultType="com.datafusion.manager.asset.dto.LineageEdgeDto">
        WITH RECURSIVE
        UpstreamLineage AS (
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        -1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        where
        <if test="!req.isLeafNode">
            ale.target_urn = #{req.nodeUrn}
        </if>
        <if test="req.isLeafNode">
            ale.target_urn like concat(#{req.nodeUrn},':%')
            Or ale.target_urn = #{req.nodeUrn}
        </if>
        ),
        DownstreamLineage AS (
        SELECT ale.id,
        ale.source_urn,
        ale.target_urn,
        1 AS depth,
        ale.create_time,
        ale.update_time,
        ale.edge_prop
        FROM datafusion.asset_lineage_edge ale
        where
        <if test="!req.isLeafNode">
            ale.source_urn = #{req.nodeUrn}
        </if>
        <if test="req.isLeafNode">
            ale.source_urn like concat(#{req.nodeUrn},':%') or
            ale.source_urn = #{req.nodeUrn}
        </if>
        )
        <if test="req.isUp != null and req.isUp == true">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from UpstreamLineage
            where source_urn != target_urn
            order by depth,sourceUrn asc
        </if>
        <if test="req.isUp != null and req.isUp == false">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from DownstreamLineage
            where source_urn != target_urn
            order by depth,sourceUrn asc
        </if>
        <if test="req.isUp == null">
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from UpstreamLineage
            where source_urn != target_urn
            union all
            select id,source_urn as sourceUrn,target_urn as targetUrn,depth,edge_prop
            from DownstreamLineage
            where source_urn != target_urn
            order by depth,sourceUrn asc
        </if>

    </select>

    <select id="selectBySourceAndTargetUrn" resultType="com.datafusion.manager.asset.po.AssetLineageEdgeEntity">
        SELECT id,
               source_urn  as sourceUrn,
               target_urn  as targetUrn,
               resource_id as resourceId,
               creator,
               updater,
               create_time,
               update_time,
               edge_prop
        FROM datafusion.asset_lineage_edge
        WHERE source_urn = #{sourceUrn}
          AND target_urn = #{targetUrn} LIMIT 1
    </select>

    <insert id="insertBatch">
        INSERT INTO datafusion.asset_lineage_edge (id, source_urn, target_urn, resource_id, creator, updater, create_time, update_time, edge_prop)
        VALUES
        <foreach collection="edges" item="edge" separator=",">
            (#{edge.id}, #{edge.sourceUrn}, #{edge.targetUrn}, #{edge.resourceId}, #{edge.creator}, #{edge.updater}, #{edge.createTime}, #{edge.updateTime}, #{edge.edgeProp})
        </foreach>
    </insert>

</mapper>