<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datafusion.manager.asset.dao.AssetLineageNodeResourceRelationMapper">

    <select id="countByNodeIdExcludeResource" resultType="int">
        SELECT COUNT(0)
        FROM asset_lineage_node_resource_relation
        WHERE node_id = #{nodeId}
          AND resource_id != #{excludeResourceId}
    </select>

    <select id="countByNodeIdsExcludeResource" resultType="java.util.UUID">
        SELECT node_id
        FROM asset_lineage_node_resource_relation
        WHERE node_id IN
        <foreach collection="nodeIds" item="nodeId" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
        AND resource_id != #{excludeResourceId}
        GROUP BY node_id
    </select>

</mapper>
