<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datafusion.manager.scheduler.dao.TaskInfoMapper">

    <select id="getTaskInfo" resultType="com.datafusion.manager.scheduler.po.TaskInfoEntity">
        select *
        from scheduler_task_info
        where id = #{taskId}
    </select>

    <select id="listByFlowId" resultType="com.datafusion.manager.scheduler.po.TaskInfoEntity">
        select *
        from scheduler_task_info
        where flow_id = #{flowId}
        order by create_time asc
    </select>

    <select id="getTaskInfoByBizRef" resultType="com.datafusion.manager.scheduler.po.TaskInfoEntity">
        select *
        from scheduler_task_info
        where definition is not null
          and split_part(definition ->> 'bizRef', ':', 1) = 'bizref'
          and split_part(definition ->> 'bizRef', ':', 2) = 'v1'
          and split_part(definition ->> 'bizRef', ':', 3) = concat('system=', #{system})
          and split_part(definition ->> 'bizRef', ':', 4) = concat('bizType=', #{bizType})
          and split_part(definition ->> 'bizRef', ':', 5) = concat('bizKey=', #{bizKey})
        limit 1
    </select>

</mapper>
